<a href="https://colab.research.google.com/github/akshatsharma-x/ML/blob/main/Lab_4a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.listdir('/content/drive/MyDrive/')

['Contacts (3).vcf',
 'Akshat Sharma (1).vcf',
 '2017-04-04_11.46.04.jpg',
 '2017-04-04_11.16.28.jpg',
 'Photo Collage_1484053271333.png',
 'Photo Collage_1484191896103.png',
 'Photo Collage_1485592182546.png',
 'IMG-20170318-WA0004.jpg',
 'IMG-20170403-WA0000.jpg',
 'IMG-20170403-WA0001.jpg',
 '2017-03-22 14.57.50.jpg',
 'IMG-20170318-WA0003.jpg',
 'IMG-20170308-WA0007.jpg',
 'IMG-20170318-WA0002.jpg',
 '2017-03-18 15.29.37.jpg',
 'IMG-20170308-WA0004.jpg',
 'IMG-20170308-WA0002.jpg',
 'IMG-20170308-WA0001.jpg',
 'IMG-20170226-WA0001.jpg',
 'IMG-20170226-WA0000.jpg',
 'IMG-20170108-WA0001.jpg',
 'IMG-20170108-WA0001-1.jpg',
 'B612_20170404_212744.jpg',
 'B612_20170404_213045.jpg',
 'B612_20170404_212804.jpg',
 'B612_20170404_213055.jpg',
 'B612_20161231_221941.jpg',
 'B612_20161231_222115.jpg',
 'B612_20161231_222730.jpg',
 'B612_20161231_221931.jpg',
 'B612_20161231_210016.jpg',
 'B612_20161231_204758.jpg',
 'B612_20161231_204536.jpg',
 'B612_20161231_205318.jpg',
 'B612_20161231_204501.jpg',
 'B612_20161228_165020.jpg',
 'B612_20161228_164616.jpg',
 'B612_20161228_164532.jpg',
 'B612_20161228_164504.jpg',
 'B612_20161228_144900.jpg',
 'B612_20161228_144746.jpg',
 'B612_20161225_164221.jpg',
 'B612_20161225_164049.jpg',
 'B612_20161225_164043.jpg',
 'B612_20161225_163951.jpg',
 'B612_20161225_163814.jpg',
 'B612_20161225_163455.jpg',
 'B612_20161225_162739.jpg',
 'Screenshot_2017-04-04-15-26-48.png',
 'Screenshot_2017-04-04-15-27-10.png',
 'Screenshot_2017-04-04-15-26-40.png',
 'Screenshot_2017-04-04-15-27-18.png',
 'Screenshot_2017-03-29-22-19-54.png',
 '2017-04-04 11.36.24.png',
 'Screenshot_2017-04-02-23-10-13.png',
 'Screenshot_2017-03-29-22-19-39.png',
 'Screenshot_2017-03-29-22-17-38.png',
 'Screenshot_2017-03-26-10-55-19.png',
 'Screenshot_2017-03-29-22-17-16.png',
 'Screenshot_2017-03-26-10-55-16.png',
 'Screenshot_2017-03-26-10-55-04.png',
 'Screenshot_2017-01-13-15-20-05.png',
 'Screenshot_2017-01-13-15-21-01.png',
 'Screenshot_2017-01-08-00-44-36.png',
 'Screenshot_2017-01-06-17-37-33-1.png',
 'Screenshot_2017-01-06-17-32-35-1.png',
 '2017-04-04 11.32.01.jpg',
 '2017-04-04 11.41.45.jpg',
 'B612_20161214_192915.jpg',
 'B612_20161214_192742.jpg',
 'B612_20161214_193333.jpg',
 'B612_20161214_193357.jpg',
 'B612_20161214_193138.jpg',
 'B612_20161214_193434.jpg',
 'B612_20161214_193536.jpg',
 '2016-01-07 16.01.01.jpg',
 'B612_20161214_193509.jpg',
 '2016-01-01 11.45.47.jpg',
 '20161011_132254.jpg',
 '20151112_180851.jpg',
 '20161023_182102_LLS.jpg',
 '20151111_230743.jpg',
 '20161023_170550.jpg',
 '20160117_164332.jpg',
 '20161011_132317.jpg',
 '20151111_224225.jpg',
 '20161101_130122.jpg',
 '20161023_182056_LLS.jpg',
 '20160101_200824-1.jpg',
 '20161101_124209.jpg',
 '20150906_091957.jpg',
 '2015-10-17 20.30.14.jpg',
 '20161023_182342_LLS.jpg',
 '20161101_124210.jpg',
 '20160126_004234.jpg',
 '20161101_120459.jpg',
 '20151111_202622.jpg',
 '20161023_182312_LLS.jpg',
 '20161023_182156_LLS.jpg',
 '20151111_204023.jpg',
 '20161023_182211_LLS.jpg',
 '20160114_214835.jpg',
 '20161023_170534.jpg',
 '20161023_171122.jpg',
 '20161030_193058_LLS.jpg',
 '20160126_004025.jpg',
 '20160101_202657.jpg',
 '20161023_182315_LLS.jpg',
 '20161030_205612_LLS.jpg',
 '20151111_204814.jpg',
 '20161101_093951.jpg',
 '20151111_202621.jpg',
 '20160126_003959.jpg',
 '20160126_003806.jpg',
 '20151122_173141.jpg',
 '20161023_182120_LLS.jpg',
 '20161023_170603.jpg',
 '20150906_092353.jpg',
 '20151111_224208.jpg',
 '20161030_205636_LLS.jpg',
 '20161030_210258_LLS.jpg',
 '20151122_173225.jpg',
 '20161023_182356_LLS.jpg',
 '20161030_205556_LLS.jpg',
 '20161023_182201_LLS.jpg',
 '20160101_200739.jpg',
 '20151111_230738.jpg',
 '20161023_182204_LLS.jpg',
 '20161101_130143.jpg',
 '20161023_182108_LLS.jpg',
 '20161101_120547.jpg',
 '20161030_192318_LLS.jpg',
 '20161023_182243_LLS.jpg',
 '20161023_170917.gif',
 '20161023_182359_LLS.jpg',
 '20151111_204051.jpg',
 '20161023_182134_LLS.jpg',
 '20150906_092322.jpg',
 '20161030_210117_LLS.jpg',
 '20151111_204416.jpg',
 '20161101_124224.jpg',
 '20151112_180752.jpg',
 '20151111_204508.jpg',
 '20161030_192645.jpg',
 '20161030_192541.jpg',
 '20161101_130319.jpg',
 '20161030_192913.jpg',
 '20161101_124201.jpg',
 '20161029_225738_LLS.jpg',
 '20160101_200821.jpg',
 '20161030_210512_LLS.jpg',
 '20151111_204600.jpg',
 '20161030_210053_LLS.jpg',
 '20151111_224213.jpg',
 '20161101_130100.jpg',
 '20151120_143624.jpg',
 '20161030_210300_LLS.jpg',
 '20161101_093939.jpg',
 '20151112_181320.jpg',
 '20150906_092337.jpg',
 '20160102_201445.jpg',
 '20161030_154059_LLS.jpg',
 '1465378818545 (0).jpg',
 '1465378821305 (0).jpg',
 '20151122_173148.jpg',
 '20151112_180807.jpg',
 '1465378821625 (0).jpg',
 '1465378821865 (0).jpg',
 '1466998882560.jpg',
 '1467355613751.jpg',
 '1468146086035.jpg',
 '1465378818545.jpg',
 '1465378821305.jpg',
 '1466765207629.jpg',
 '1465378821865.jpg',
 'Real-News-Ronaldo-Bale-nominerade-till-Ballon-d-Or.jpg',
 'IMG_5362.PNG',
 '20150104_102335-1.jpg',
 'IMG-20150323-WA0016.jpg',
 'IMG-20150323-WA0017.jpg',
 'IMG-20150323-WA0015.jpg',
 'IMG-20150323-WA0020.jpg',
 'IMG-20150314-WA0007.jpg',
 'IMG-20150314-WA0011.jpg',
 'IMG-20150314-WA0012.jpg',
 'IMG-20150314-WA0013.jpg',
 '20150104_082957.jpg',
 '20150104_102325.jpg',
 '20150104_102335.jpg',
 '20150106_210921.jpg',
 '20150124_224744.jpg',
 '20150124_224810-1.jpg',
 '20170128_193832_LLS.jpg',
 '20170128_193627_LLS.jpg',
 '20170128_193529_LLS.jpg',
 '20170128_193611_LLS.jpg',
 '20170128_193458_LLS.jpg',
 '20170128_193429_LLS.jpg',
 '20170128_193419_LLS.jpg',
 '20170128_193338_LLS.jpg',
 '20170128_193358_LLS.jpg',
 '20170128_193331_LLS.jpg',
 '20170128_193310_LLS.jpg',
 '20170128_193247.jpg',
 '20170128_193159_LLS.jpg',
 '20170128_193249.jpg',
 '20170105_013518.jpg',
 '20170128_193219_LLS.jpg',
 '20170105_013459.jpg',
 '20170105_013416_LLS.jpg',
 '20161231_203925.jpg',
 '20161231_204337.jpg',
 '20161231_204228.jpg',
 '20161231_203300.jpg',
 '20161231_202955_LLS.jpg',
 '20161231_203032_LLS.jpg',
 'IMG_6827.JPG',
 '20161225_162341.jpg',
 'IMG_6829.JPG',
 '20161216_174105.jpg',
 '20161216_171117.jpg',
 '20161216_174111.jpg',
 '20161130_220343_LLS.jpg',
 '20161130_220341_LLS.jpg',
 '20161130_220322_LLS.jpg',
 '20161130_220320_LLS.jpg',
 '20161130_211844_LLS.jpg',
 '20160627_115919.jpg',
 '20161130_211430_LLS.jpg',
 '20161130_211520.jpg',
 '20160213_124541.jpg',
 '20151003_222447.jpg',
 '20151003_222432.jpg',
 '1483703550120.jpg',
 'IMG_20170110_152854.jpg',
 'Getting started.pdf',
 'Mukta key book 8.pdf',
 'libitem_11237133_55620f119f271_1.pdf',
 'deep%20manika%20uttarani-3%2003-01-2013%20final%201-62.pdf',
 'Shared via Wynk Music',
 'Contacts (2).vcf',
 'Contacts (1).vcf',
 'Akshat Sharma.vcf',
 'Contacts.vcf',
 'ak.pdf',
 'Classroom',
 '64B7D29B-904A-44B8-9EA7-4BF6A7354F2E.jpeg',
 'image (1).jpg',
 'IMG_1446.png',
 'C9AD79D5-DE57-4C75-8A74-9FF3427B5A8F.jpg',
 ' Akshat CV.gdoc',
 'Untitled document (1).gdoc',
 'Untitled document.gdoc',
 'Ashish_Resume_final.gdoc',
 'Data',
 'Akshat Resume',
 'Resume',
 'short literature review for ppt , 1 or 2 slides (1).gsheet',
 'short literature review for ppt , 1 or 2 slides.gsheet',
 'Colab Notebooks (2)',
 'Colab Notebooks (1)',
 'Colab Notebooks',
 'EY Techathon 6.0',
 'Hackathons:.gdoc',
 'HackX',
 'Bone',
 'Untitled folder',
 'Customer Churn Automated Pipeline (1)',
 'Customer Churn Automated Pipeline',
 'Coursera 7FGEIZYMOMWW.pdf',
 'fracture_model_final.h5',
 'fracture_model.h5',
 'fracture_model.keras',
 'An IP packet has arrived with the first few hexad....gsheet',
 'Supply Chain Analysis',
 'Truechip ',
 'photo',
 'Iris.csv',
 'food',
 'image.jpg']

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
print(df.head(15))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

In [ ]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
print(df.describe)

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
df.shape

(150, 6)

In [ ]:
print(df.shape)

(150, 6)

In [ ]:
print(df.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
print(df.tail(15))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
135  Iris-virginica
136  Iris-virginica
137  Iris-virginica
138  Iris-virginica
139  Iris-virginica
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
print(df.loc[140])

Id                          141
SepalLengthCm               6.7
SepalWidthCm                3.1
PetalLengthCm               5.6
PetalWidthCm                2.4
Species          Iris-virginica
Name: 140, dtype: object

In [ ]:
print(df.loc[[0,99,140]])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
99   100            5.7           2.8            4.1           1.3
140  141            6.7           3.1            5.6           2.4

             Species
0        Iris-setosa
99   Iris-versicolor
140   Iris-virginica

In [ ]:
print(df.iloc[-1])

Id                          150
SepalLengthCm               5.9
SepalWidthCm                3.0
PetalLengthCm               5.1
PetalWidthCm                1.8
Species          Iris-virginica
Name: 149, dtype: object

In [ ]:
print(df.iloc[[0,99,140]])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
99   100            5.7           2.8            4.1           1.3
140  141            6.7           3.1            5.6           2.4

             Species
0        Iris-setosa
99   Iris-versicolor
140   Iris-virginica

In [ ]:
subset = df.loc[:, ['SepalLengthCm']]
print(subset.head())

   SepalLengthCm
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0

In [ ]:
subset2 = df.iloc[:, [2,4]]
print(subset2.head())

   SepalWidthCm  PetalWidthCm
0           3.5           0.2
1           3.0           0.2
2           3.2           0.2
3           3.1           0.2
4           3.6           0.2

In [ ]:
subset2 = df.iloc[:, [2,4,-1]]
print(subset2.head())

   SepalWidthCm  PetalWidthCm      Species
0           3.5           0.2  Iris-setosa
1           3.0           0.2  Iris-setosa
2           3.2           0.2  Iris-setosa
3           3.1           0.2  Iris-setosa
4           3.6           0.2  Iris-setosa

In [ ]:
list1 = list(range(5))
print(list1)

[0, 1, 2, 3, 4]

In [ ]:
subset3 = df.iloc[:,list1]
print(subset3.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [ ]:
print(df.loc[20,'SepalWidthCm'])
print(df.iloc[20,1])

3.4
5.4

In [ ]:
print(df.iloc[[0,99,149],[0,3,5]])

      Id  PetalLengthCm          Species
0      1            1.4      Iris-setosa
99   100            4.1  Iris-versicolor
149  150            5.1   Iris-virginica

In [ ]:
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
print(df.notnull().sum())

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [ ]:
df.loc[10:15,'SepalLengthCm'] = np.nan
print(df.isnull().sum())

Id               0
SepalLengthCm    6
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df.loc[20:25,'PetalLengthCm'] = np.nan
print(df.isnull().sum())

Id               0
SepalLengthCm    6
SepalWidthCm     0
PetalLengthCm    6
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(), inplace=True)
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    6
PetalWidthCm     0
Species          0
dtype: int64

/tmp/ipython-input-2106090327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(), inplace=True)

In [ ]:
df['PetalWidthCm'].fillna(df['PetalWidthCm'].median(), inplace=True)
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    6
PetalWidthCm     0
Species          0
dtype: int64

/tmp/ipython-input-1932850716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PetalWidthCm'].fillna(df['PetalWidthCm'].median(), inplace=True)

In [ ]:
df.dropna(inplace=True)
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df.rename(columns={'SepalLengthCm':'SL','PetalWidthCm':'PW'}, inplace=True)
print(df.head)

<bound method NDFrame.head of       Id   SL  SepalWidthCm  PetalLengthCm   PW         Species
0      1  5.1           3.5            1.4  0.2     Iris-setosa
1      2  4.9           3.0            1.4  0.2     Iris-setosa
2      3  4.7           3.2            1.3  0.2     Iris-setosa
3      4  4.6           3.1            1.5  0.2     Iris-setosa
4      5  5.0           3.6            1.4  0.2     Iris-setosa
..   ...  ...           ...            ...  ...             ...
145  146  6.7           3.0            5.2  2.3  Iris-virginica
146  147  6.3           2.5            5.0  1.9  Iris-virginica
147  148  6.5           3.0            5.2  2.0  Iris-virginica
148  149  6.2           3.4            5.4  2.3  Iris-virginica
149  150  5.9           3.0            5.1  1.8  Iris-virginica

[144 rows x 6 columns]>

In [ ]:
print(df.columns)

Index(['Id', 'SL', 'SepalWidthCm', 'PetalLengthCm', 'PW', 'Species'], dtype='object')

In [ ]:
df["SL"] = df["SL"].astype(float)
df["PW"] = df["PW"].astype(float)

In [ ]:
df['Species'].replace({"Iris_setosa":0,"Iris.versicolor":1,"Iris.virginica":2},inplace=True)

/tmp/ipython-input-2813238340.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Species'].replace({"Iris_setosa":0,"Iris.versicolor":1,"Iris.virginica":2},inplace=True)

In [ ]:
# Evaluate Linear Regression Model
print("LINEAR REGRESSION EVALUATION")
print("Mean Squared Error:", mean_squared_error(y_test_lr, y_pred_lr))
print("Mean Absolute Error:", mean_absolute_error(y_test_lr, y_pred_lr))
print("R2 Score:", r2_score(y_test_lr, y_pred_lr))

LINEAR REGRESSION EVALUATION

NameError: name 'mean_squared_error' is not defined