<a href="https://colab.research.google.com/github/akshatsharma-x/ML/blob/main/Lab_4b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import os
os.listdir('/content/drive/MyDrive/')

['Contacts (3).vcf',
 'Akshat Sharma (1).vcf',
 '2017-04-04_11.46.04.jpg',
 '2017-04-04_11.16.28.jpg',
 'Photo Collage_1484053271333.png',
 'Photo Collage_1484191896103.png',
 'Photo Collage_1485592182546.png',
 'IMG-20170318-WA0004.jpg',
 'IMG-20170403-WA0000.jpg',
 'IMG-20170403-WA0001.jpg',
 '2017-03-22 14.57.50.jpg',
 'IMG-20170318-WA0003.jpg',
 'IMG-20170308-WA0007.jpg',
 'IMG-20170318-WA0002.jpg',
 '2017-03-18 15.29.37.jpg',
 'IMG-20170308-WA0004.jpg',
 'IMG-20170308-WA0002.jpg',
 'IMG-20170308-WA0001.jpg',
 'IMG-20170226-WA0001.jpg',
 'IMG-20170226-WA0000.jpg',
 'IMG-20170108-WA0001.jpg',
 'IMG-20170108-WA0001-1.jpg',
 'B612_20170404_212744.jpg',
 'B612_20170404_213045.jpg',
 'B612_20170404_212804.jpg',
 'B612_20170404_213055.jpg',
 'B612_20161231_221941.jpg',
 'B612_20161231_222115.jpg',
 'B612_20161231_222730.jpg',
 'B612_20161231_221931.jpg',
 'B612_20161231_210016.jpg',
 'B612_20161231_204758.jpg',
 'B612_20161231_204536.jpg',
 'B612_20161231_205318.jpg',
 'B612_20161231_204501.jpg',
 'B612_20161228_165020.jpg',
 'B612_20161228_164616.jpg',
 'B612_20161228_164532.jpg',
 'B612_20161228_164504.jpg',
 'B612_20161228_144900.jpg',
 'B612_20161228_144746.jpg',
 'B612_20161225_164221.jpg',
 'B612_20161225_164049.jpg',
 'B612_20161225_164043.jpg',
 'B612_20161225_163951.jpg',
 'B612_20161225_163814.jpg',
 'B612_20161225_163455.jpg',
 'B612_20161225_162739.jpg',
 'Screenshot_2017-04-04-15-26-48.png',
 'Screenshot_2017-04-04-15-27-10.png',
 'Screenshot_2017-04-04-15-26-40.png',
 'Screenshot_2017-04-04-15-27-18.png',
 'Screenshot_2017-03-29-22-19-54.png',
 '2017-04-04 11.36.24.png',
 'Screenshot_2017-04-02-23-10-13.png',
 'Screenshot_2017-03-29-22-19-39.png',
 'Screenshot_2017-03-29-22-17-38.png',
 'Screenshot_2017-03-26-10-55-19.png',
 'Screenshot_2017-03-29-22-17-16.png',
 'Screenshot_2017-03-26-10-55-16.png',
 'Screenshot_2017-03-26-10-55-04.png',
 'Screenshot_2017-01-13-15-20-05.png',
 'Screenshot_2017-01-13-15-21-01.png',
 'Screenshot_2017-01-08-00-44-36.png',
 'Screenshot_2017-01-06-17-37-33-1.png',
 'Screenshot_2017-01-06-17-32-35-1.png',
 '2017-04-04 11.32.01.jpg',
 '2017-04-04 11.41.45.jpg',
 'B612_20161214_192915.jpg',
 'B612_20161214_192742.jpg',
 'B612_20161214_193333.jpg',
 'B612_20161214_193357.jpg',
 'B612_20161214_193138.jpg',
 'B612_20161214_193434.jpg',
 'B612_20161214_193536.jpg',
 '2016-01-07 16.01.01.jpg',
 'B612_20161214_193509.jpg',
 '2016-01-01 11.45.47.jpg',
 '20161011_132254.jpg',
 '20151112_180851.jpg',
 '20161023_182102_LLS.jpg',
 '20151111_230743.jpg',
 '20161023_170550.jpg',
 '20160117_164332.jpg',
 '20161011_132317.jpg',
 '20151111_224225.jpg',
 '20161101_130122.jpg',
 '20161023_182056_LLS.jpg',
 '20160101_200824-1.jpg',
 '20161101_124209.jpg',
 '20150906_091957.jpg',
 '2015-10-17 20.30.14.jpg',
 '20161023_182342_LLS.jpg',
 '20161101_124210.jpg',
 '20160126_004234.jpg',
 '20161101_120459.jpg',
 '20151111_202622.jpg',
 '20161023_182312_LLS.jpg',
 '20161023_182156_LLS.jpg',
 '20151111_204023.jpg',
 '20161023_182211_LLS.jpg',
 '20160114_214835.jpg',
 '20161023_170534.jpg',
 '20161023_171122.jpg',
 '20161030_193058_LLS.jpg',
 '20160126_004025.jpg',
 '20160101_202657.jpg',
 '20161023_182315_LLS.jpg',
 '20161030_205612_LLS.jpg',
 '20151111_204814.jpg',
 '20161101_093951.jpg',
 '20151111_202621.jpg',
 '20160126_003959.jpg',
 '20160126_003806.jpg',
 '20151122_173141.jpg',
 '20161023_182120_LLS.jpg',
 '20161023_170603.jpg',
 '20150906_092353.jpg',
 '20151111_224208.jpg',
 '20161030_205636_LLS.jpg',
 '20161030_210258_LLS.jpg',
 '20151122_173225.jpg',
 '20161023_182356_LLS.jpg',
 '20161030_205556_LLS.jpg',
 '20161023_182201_LLS.jpg',
 '20160101_200739.jpg',
 '20151111_230738.jpg',
 '20161023_182204_LLS.jpg',
 '20161101_130143.jpg',
 '20161023_182108_LLS.jpg',
 '20161101_120547.jpg',
 '20161030_192318_LLS.jpg',
 '20161023_182243_LLS.jpg',
 '20161023_170917.gif',
 '20161023_182359_LLS.jpg',
 '20151111_204051.jpg',
 '20161023_182134_LLS.jpg',
 '20150906_092322.jpg',
 '20161030_210117_LLS.jpg',
 '20151111_204416.jpg',
 '20161101_124224.jpg',
 '20151112_180752.jpg',
 '20151111_204508.jpg',
 '20161030_192645.jpg',
 '20161030_192541.jpg',
 '20161101_130319.jpg',
 '20161030_192913.jpg',
 '20161101_124201.jpg',
 '20161029_225738_LLS.jpg',
 '20160101_200821.jpg',
 '20161030_210512_LLS.jpg',
 '20151111_204600.jpg',
 '20161030_210053_LLS.jpg',
 '20151111_224213.jpg',
 '20161101_130100.jpg',
 '20151120_143624.jpg',
 '20161030_210300_LLS.jpg',
 '20161101_093939.jpg',
 '20151112_181320.jpg',
 '20150906_092337.jpg',
 '20160102_201445.jpg',
 '20161030_154059_LLS.jpg',
 '1465378818545 (0).jpg',
 '1465378821305 (0).jpg',
 '20151122_173148.jpg',
 '20151112_180807.jpg',
 '1465378821625 (0).jpg',
 '1465378821865 (0).jpg',
 '1466998882560.jpg',
 '1467355613751.jpg',
 '1468146086035.jpg',
 '1465378818545.jpg',
 '1465378821305.jpg',
 '1466765207629.jpg',
 '1465378821865.jpg',
 'Real-News-Ronaldo-Bale-nominerade-till-Ballon-d-Or.jpg',
 'IMG_5362.PNG',
 '20150104_102335-1.jpg',
 'IMG-20150323-WA0016.jpg',
 'IMG-20150323-WA0017.jpg',
 'IMG-20150323-WA0015.jpg',
 'IMG-20150323-WA0020.jpg',
 'IMG-20150314-WA0007.jpg',
 'IMG-20150314-WA0011.jpg',
 'IMG-20150314-WA0012.jpg',
 'IMG-20150314-WA0013.jpg',
 '20150104_082957.jpg',
 '20150104_102325.jpg',
 '20150104_102335.jpg',
 '20150106_210921.jpg',
 '20150124_224744.jpg',
 '20150124_224810-1.jpg',
 '20170128_193832_LLS.jpg',
 '20170128_193627_LLS.jpg',
 '20170128_193529_LLS.jpg',
 '20170128_193611_LLS.jpg',
 '20170128_193458_LLS.jpg',
 '20170128_193429_LLS.jpg',
 '20170128_193419_LLS.jpg',
 '20170128_193338_LLS.jpg',
 '20170128_193358_LLS.jpg',
 '20170128_193331_LLS.jpg',
 '20170128_193310_LLS.jpg',
 '20170128_193247.jpg',
 '20170128_193159_LLS.jpg',
 '20170128_193249.jpg',
 '20170105_013518.jpg',
 '20170128_193219_LLS.jpg',
 '20170105_013459.jpg',
 '20170105_013416_LLS.jpg',
 '20161231_203925.jpg',
 '20161231_204337.jpg',
 '20161231_204228.jpg',
 '20161231_203300.jpg',
 '20161231_202955_LLS.jpg',
 '20161231_203032_LLS.jpg',
 'IMG_6827.JPG',
 '20161225_162341.jpg',
 'IMG_6829.JPG',
 '20161216_174105.jpg',
 '20161216_171117.jpg',
 '20161216_174111.jpg',
 '20161130_220343_LLS.jpg',
 '20161130_220341_LLS.jpg',
 '20161130_220322_LLS.jpg',
 '20161130_220320_LLS.jpg',
 '20161130_211844_LLS.jpg',
 '20160627_115919.jpg',
 '20161130_211430_LLS.jpg',
 '20161130_211520.jpg',
 '20160213_124541.jpg',
 '20151003_222447.jpg',
 '20151003_222432.jpg',
 '1483703550120.jpg',
 'IMG_20170110_152854.jpg',
 'Getting started.pdf',
 'Mukta key book 8.pdf',
 'libitem_11237133_55620f119f271_1.pdf',
 'deep%20manika%20uttarani-3%2003-01-2013%20final%201-62.pdf',
 'Shared via Wynk Music',
 'Contacts (2).vcf',
 'Contacts (1).vcf',
 'Akshat Sharma.vcf',
 'Contacts.vcf',
 'ak.pdf',
 'Classroom',
 '64B7D29B-904A-44B8-9EA7-4BF6A7354F2E.jpeg',
 'image (2).jpg',
 'IMG_1446.png',
 'C9AD79D5-DE57-4C75-8A74-9FF3427B5A8F.jpg',
 ' Akshat CV.gdoc',
 'Untitled document (1).gdoc',
 'Untitled document.gdoc',
 'Ashish_Resume_final.gdoc',
 'Data',
 'Akshat Resume',
 'Resume',
 'short literature review for ppt , 1 or 2 slides (1).gsheet',
 'short literature review for ppt , 1 or 2 slides.gsheet',
 'Colab Notebooks (2)',
 'Colab Notebooks (1)',
 'Colab Notebooks',
 'EY Techathon 6.0',
 'Hackathons:.gdoc',
 'HackX',
 'Bone',
 'Untitled folder',
 'Customer Churn Automated Pipeline (1)',
 'Customer Churn Automated Pipeline',
 'Coursera 7FGEIZYMOMWW.pdf',
 'fracture_model_final.h5',
 'fracture_model.h5',
 'fracture_model.keras',
 'An IP packet has arrived with the first few hexad....gsheet',
 'Supply Chain Analysis',
 'Truechip ',
 'photo',
 'Iris.csv',
 'food',
 'image (1).jpg',
 'image.jpg',
 '10th',
 '12th',
 'Placement Form',
 'pbl-4',
 'UI UX']

In [19]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
import pandas as pd
import numpy as np

# from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import (
    mean_squared_error,
    mean_absolute_error,
    r2_score,
    accuracy_score,
    confusion_matrix,
    classification_report
)

In [21]:
import pandas as pd

columns = [
    "sepal_length",
    "sepal_width",
    "petal_length",
    "petal_width",
    "species"
]

df = pd.read_csv(r'/content/drive/MyDrive/Iris.csv', header=0)

df = df.drop(columns=['Id'])

df.columns = columns

for col in ["sepal_length", "sepal_width", "petal_length", "petal_width"]:
    df[col] = pd.to_numeric(df[col])

In [22]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [24]:
X_lr = df[["sepal_length", "sepal_width", "petal_width"]]
y_lr = df["petal_length"]

In [25]:
X_train_lr, X_test_lr, y_train_lr, y_test_lr = train_test_split(
    X_lr, y_lr, test_size=0.2, random_state=42)

In [26]:
lr_model = LinearRegression()

In [27]:
lr_model.fit(X_train_lr, y_train_lr)
y_pred_lr = lr_model.predict(X_test_lr)

In [28]:
print("LINEAR REGRESSION EVALUATION")
print("Mean Squared Error:", mean_squared_error(y_test_lr, y_pred_lr))
print("Mean Absolute Error:", mean_absolute_error(y_test_lr, y_pred_lr))
print("R2 Score:", r2_score(y_test_lr, y_pred_lr))

LINEAR REGRESSION EVALUATION
Mean Squared Error: 0.12991981605759947
Mean Absolute Error: 0.2606173239288886
R2 Score: 0.9603587427485161

In [29]:
df = pd.read_csv(r'/content/drive/MyDrive/Iris.csv')

In [30]:
df["Species"] = df["Species"].replace({
    "Iris-setosa": 0,
    "Iris-versicolor": 1,
    "Iris-virginica": 2
})

/tmp/ipython-input-1910832043.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Species"] = df["Species"].replace({

In [31]:
X_lr = df[["SepalLengthCm", "SepalWidthCm", "PetalWidthCm"]]
y_lr = df["PetalLengthCm"]

In [32]:
y_pred_lr = lr_model.predict(X_test_lr)

In [33]:
print("LINEAR REGRESSION EVALUATION")
print("Mean Squared Error:", mean_squared_error(y_test_lr, y_pred_lr))
print("Mean Absolute Error:", mean_absolute_error(y_test_lr, y_pred_lr))
print("R2 Score:", r2_score(y_test_lr, y_pred_lr))

LINEAR REGRESSION EVALUATION
Mean Squared Error: 0.12991981605759947
Mean Absolute Error: 0.2606173239288886
R2 Score: 0.9603587427485161

In [37]:
X = df.drop(columns=["Species"])
y = df["Species"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

log_model = LogisticRegression(max_iter=200)
log_model.fit(X_train, y_train)

y_pred_log = log_model.predict(X_test)

print("\nLOGISTIC REGRESSION EVALUATION")
print("Accuracy:", accuracy_score(y_test, y_pred_log))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred_log))
print("\nClassification Report:\n", classification_report(y_test, y_pred_log))

LOGISTIC REGRESSION EVALUATION
Accuracy: 1.0

Confusion Matrix:
 [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [36]:
X = df.drop("Species", axis=1)
y = df["Species"]